.cell {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.snakeHead {
    width: 60px;
    height: 60px;
}
.apple {
    width: 60px;
    height: 60px;
}